<footer>
  <h3>Julce Store</h3>
  <div class="place">
    <div class="local">
    <p>A543 Rua Carmo de Oliveira</p>
    <p>Malanje, Angola</p>
    </div>
 
  <div class="call">
    <h4>Telefone: <span>+244 943 443 862</span></h4>
    <h4>Whatsapp: <span>+244 925 842 465</span></h4>
    <h4>Email: <span>infoloja@gmail.com</span></h4>
  </div>

  <div class="social">
    <span>
      <a href=""><i class="bi bi-facebook"></i></a>  
      <a href=""><i class="bi bi-instagram"></i></a>  
      <a href=""><i class="bi bi-whatsapp"></i></a>   
    </span>
  </div>

  <div class="services">
  <h4>Nossos Serviços</h4>
  <ul>
    <li>Reparação de Telefones</li>
    <li>Montagem de Visores</li>
    <li>Montagem de Películas</li>
    <li>Blindagem de Telefones</li>
  </ul>  
  </div>
  <p class="copy">&copy; Copyright Julce Store {{year}}. Todos Os Direitos Reservados</p>
  </div>
</footer>

